.sidebar {
    background: #001225;
    color: #ffffff;
    padding: 100px 20px 20px 50px;
    position: relative;
    font-family: "brandon-grotesque", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.sidebar-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-info-list > li {
    margin: 0 0 20px;
}


.sidebar-info-list .dt {
    display: block;
    text-transform: uppercase;
    margin: 0 0 5px;
    color: #00a9b0;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.2;
}

.dd {
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.21;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 270px;
        overflow: hidden;
        overflow-y: auto;
        padding: 200px 30px 20px 30px;
        z-index: 99;
        min-height: 100vh;
    }
}

@media screen and (min-width: 1200px) {
    .sidebar {
        width: 336px;
        padding: 150px 20px 20px 30px;
    }
}

@media screen and (min-width: 1600px) {
    .sidebar {
        width: 471px;
        padding: 244px 20px 20px 91px;
    }
}

